<header class="header" role="banner">
    <div class="header-content">
      <!-- Logo e título -->
      <div class="header-logo">
        <h1><a href="/home" class="logo-link" aria-label="Voltar para o início">{{dataHeader?.name}}</a></h1>
        <p>{{dataHeader?.profession}}</p>
      </div>
  
      <!-- Navegação -->
      <nav class="header-nav" aria-label="Navegação principal">
        <ul>
          <li><a routerLink="" class="header-link" aria-label="Ir para o início">Início</a></li>
          <li><a routerLink="/sobre" class="header-link" aria-label="Ir para sobre mim">Sobre</a></li>
          <li><a routerLink="/projetos" class="header-link" aria-label="Ver projetos">Projetos</a></li>
          <li><a routerLink="contato" class="header-link" aria-label="Ir para contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  