
<app-header></app-header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>


<!--




<div class="personalData">
  <h1>{{ personalData?.name}}</h1>
  <p>{{ personalData?.profession }}</p>
  <p>{{ personalData?.email }}</p>
  <p>{{ personalData?.telephone }}</p>
  <p>{{ personalData?.location }}</p>
  <p>{{ personalData?.gitHub }}</p>
  <p>{{ personalData?.linkedIn }}</p>
  <p>{{ personalData?.certifications }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>
<div class="home">
  <h1>{{ home?.title}}</h1>
  <p>{{ home?.content }}</p>
</div>

-->